/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./component/sections/modelCard/modelCard.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modelCard_cardWrapper__k7OnO {
  border: 1px solid #ddd;
  width: 100%;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.modelCard_cardContent__INchc {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.modelCard_imageSection__R_EYa {
  flex-shrink: 0;
}

.modelCard_productImage__e3L3L {
  object-fit: contain;
}

.modelCard_detailsSection__wo967 {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modelCard_seriesTitle__jnzkz {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
  color: #333;
  position: absolute;
  top: 0.45rem;
  left: -1.75rem;
  padding: 0.25rem 0.8125rem;
  border-radius: 2.5rem;
  background-color: #e7e7e7;
}

.modelCard_titleArea__Tjeb2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.modelCard_modelTitle__8Mc7D {
  font-weight: 400;
  font-style: oblique;
  line-height: 120%;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: "DaggerSquare", "Roboto", sans-serif;
  color: #000;
}

.modelCard_subtitle__j7nnG {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: #3b3b3c;
  overflow-wrap: anywhere;
}

.modelCard_specsRow__Jew6C {
  display: flex;
  gap: clamp(1rem, 2.5vw, 2rem);
  flex-wrap: wrap;
}

.modelCard_specItem__58fk1 {
  display: flex;
  flex-direction: column;
}

.modelCard_specLabel__zAocC {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: #777;
}

.modelCard_specValue__2d3Z_ {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
}

.modelCard_viewDetailsBtn__KNNm_ {
  background-color: #020406;
  color: #ffd700;
  padding: 12px 24px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.25rem;
  letter-spacing: 0;
  transition: background-color 0.3s ease;
}
.modelCard_viewDetailsBtn__KNNm_:hover {
  background-color: #111;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./component/molecules/productCard/productStyle.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productStyle_productCard__t1QwF {
  height: 19rem;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
.productStyle_productCard__t1QwF.productStyle_productCardGrey__4Y2rN {
  background-color: #f5f5f5;
  border: 0.0625rem solid #cfcfd0;
}
@media (max-width: 768px) {
  .productStyle_productCard__t1QwF {
    min-width: auto;
    height: 14.5rem;
  }
}

.productStyle_productImage__XBw2W {
  width: 100%;
  height: 12.75rem;
}
@media (max-width: 768px) {
  .productStyle_productImage__XBw2W {
    height: 9.25rem;
  }
}

.productStyle_productDetail__D2_6v {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.productStyle_cardTitle__C9rke {
  margin: 1rem;
  margin-top: auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: #0a0a0b;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .productStyle_cardTitle__C9rke {
    font-size: 0.875rem;
  }
}

.productStyle_hoverArrow__H7rXJ {
  width: 8.5625rem;
  height: 3rem;
  border-bottom-left-radius: 0.125rem;
  background: #f9c300;
  -webkit-clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
  display: flex;
  transition: all 0.2s ease-in-out;
  display: none;
}
.productStyle_hoverArrow__H7rXJ .productStyle_arrow___KwK7 {
  width: 1.75rem;
  height: 1.0625rem;
}

@media (hover: hover) and (pointer: fine) {
  .productStyle_productCard__t1QwF:hover .productStyle_overlay__Y8lL7 {
    height: inherit;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.21%, #000000 100%);
  }
  .productStyle_productCard__t1QwF:hover .productStyle_productDetail__D2_6v {
    border: 0.25rem solid #f9c300;
  }
  .productStyle_productCard__t1QwF:hover.productStyle_skeletonCard__OzZNB .productStyle_productDetail__D2_6v {
    border: none;
  }
  .productStyle_productCard__t1QwF:hover .productStyle_hoverArrow__H7rXJ {
    display: flex;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./component/molecules/industryCard/industryStyle.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.industryStyle_industryCard___BGGs {
  width: 100%;
  height: 20rem;
  position: relative;
  cursor: pointer;
  outline: 0.25rem solid transparent;
}
@media (max-width: 768px) {
  .industryStyle_industryCard___BGGs {
    height: 12.5rem;
  }
}

.industryStyle_industryImage__RuoKs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.industryStyle_overlay__TXkE_ {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.375rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.21%, #000000 94.32%);
  background-blend-mode: multiply;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.industryStyle_industryDetail__DH0nM {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.industryStyle_cardTitle__5y4Z4 {
  margin: 1.25rem;
  margin-top: auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: #ffffff;
}
@media (max-width: 768px) {
  .industryStyle_cardTitle__5y4Z4 {
    font-size: 0.875rem !important;
  }
}

.industryStyle_hoverArrow__DEyYL {
  width: 8.5625rem;
  height: 3rem;
  border-bottom-left-radius: 0.125rem;
  background: #f9c300;
  -webkit-clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
  display: flex;
  transition: all 0.2s ease-in-out;
  display: none;
}
.industryStyle_hoverArrow__DEyYL .industryStyle_arrow__1Jnv0 {
  width: 1.75rem;
  height: 1.0625rem;
}
.industryStyle_hoverArrow__DEyYL.industryStyle_skeletonCard__kV89D {
  outline: none;
}

.industryStyle_industryImage__RuoKs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.industryStyle_overlay__TXkE_ {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.375rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.21%, #000000 94.32%);
  background-blend-mode: multiply;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.industryStyle_industryDetail__DH0nM {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.industryStyle_cardTitle__5y4Z4 {
  margin: 1.25rem;
  margin-top: auto;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  color: #ffffff;
}

.industryStyle_hoverArrow__DEyYL {
  width: 8.5625rem;
  height: 3rem;
  border-bottom-left-radius: 0.125rem;
  background: #f9c300;
  -webkit-clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 60% 0, 100% 100%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.25rem;
  display: flex;
  transition: all 0.2s ease-in-out;
  display: none;
}
.industryStyle_hoverArrow__DEyYL .industryStyle_arrow__1Jnv0 {
  width: 1.75rem;
  height: 1.0625rem;
}

@media (hover: hover) and (pointer: fine) {
  .industryStyle_industryCard___BGGs:hover .industryStyle_overlay__TXkE_ {
    height: inherit;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.21%, #000000 100%);
  }
  .industryStyle_industryCard___BGGs:hover .industryStyle_industryDetail__DH0nM {
    border: 0.25rem solid #f9c300;
  }
  .industryStyle_industryCard___BGGs:hover.industryStyle_skeletonCard__kV89D .industryStyle_industryDetail__DH0nM {
    outline: none;
  }
  .industryStyle_industryCard___BGGs:hover .industryStyle_hoverArrow__DEyYL {
    display: flex;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./component/sections/modelResponsiveCard/modelResStyles.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modelResStyles_card__g5Png {
  background: #fff;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.modelResStyles_header__89S4i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modelResStyles_modelName__Stkof {
  font-weight: 400;
  font-style: OBLIQUE;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
}

.modelResStyles_seriesTag__md6iy {
  background-color: #e5e5e5;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
}

.modelResStyles_subtitle__iIKcm {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 120%;
  text-align: left;
}

.modelResStyles_imageWrapper__j9mNZ {
  margin: 20px 0;
}

.modelResStyles_image__fbE_4 {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.modelResStyles_trenchWidths__gPtRe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  gap: 0.7rem;
}

.modelResStyles_trenchWidth__4mGBX {
  width: 7.1875rem;
  flex: 1 1;
  text-align: left;
}

.modelResStyles_label__2QY4W {
  display: block;
  color: #666;
  font-size: 14px;
}

.modelResStyles_value__uqvAE {
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.modelResStyles_ctaButton__bd6DY {
  background: #000;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}
.modelResStyles_ctaButton__bd6DY:hover {
  background: #222;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./app/(main)/products/[slug]/productMainPage.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productMainPage_productContainer__NsVfG {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
  gap: 1rem;
}
.productMainPage_productContainer__NsVfG .productMainPage_productDetails__TKqzw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_productDetails__TKqzw {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.25rem;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_productContent___qSvB {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
  max-width: 49rem;
  min-width: 0;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_productContent___qSvB {
    width: 100%;
    max-width: none;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_productInfo__V2pSt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.productMainPage_productContainer__NsVfG .productMainPage_productInfo__V2pSt .productMainPage_productHeading__RvmCm {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0a0a0b;
  line-height: 105%;
  width: 100%;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_productInfo__V2pSt .productMainPage_productHeading__RvmCm {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 115%;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_productInfo__V2pSt .productMainPage_productDescription__vL2mh {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 140%;
  letter-spacing: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_productInfo__V2pSt .productMainPage_productDescription__vL2mh {
    text-align: justify;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_productImageWrapper__GgZbD {
  flex: 0 0 clamp(17rem, 34vw, 32rem);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 16rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_productImageWrapper__GgZbD {
    width: 100%;
    min-height: auto;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_productImage__EnBxQ {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
.productMainPage_productContainer__NsVfG .productMainPage_industryTags__O8zEL {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_industryTags__O8zEL {
    flex-wrap: wrap;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_industryTags__O8zEL .productMainPage_eachIndustry__uF95V {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(218, 218, 218, 0.626);
  border-radius: 2.5rem;
  padding: 0.5rem 1.125rem;
  min-height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.productMainPage_productContainer__NsVfG .productMainPage_industryTags__O8zEL .productMainPage_eachIndustry__uF95V p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #0a0a0b;
  line-height: 110%;
  text-align: center;
}
.productMainPage_productContainer__NsVfG .productMainPage_modelContainerHeading__oyKGv {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0a0a0b;
  position: relative;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_modelContainerHeading__oyKGv {
    display: none;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_headingSection__PL0nq {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.productMainPage_productContainer__NsVfG .productMainPage_headingText__r2Azi {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0a0a0b;
  line-height: 105%;
}
.productMainPage_productContainer__NsVfG .productMainPage_modelCount__FsIM_ {
  font-size: 0.875rem;
  font-weight: 400;
  color: #666;
  line-height: 120%;
}
.productMainPage_productContainer__NsVfG .productMainPage_filterSeries__49_Iu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.productMainPage_productContainer__NsVfG .productMainPage_resetFilterBtn__7RLQT {
  background-color: #f0f0f0;
  color: #0a0a0b;
  border: 1px solid #d5d4d4;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.productMainPage_productContainer__NsVfG .productMainPage_resetFilterBtn__7RLQT:hover {
  background-color: #e0e0e0;
  color: #0a0a0b;
}
.productMainPage_productContainer__NsVfG .productMainPage_headingSelect__ku7HU {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
.productMainPage_productContainer__NsVfG .productMainPage_headingSelect__ku7HU .productMainPage_selectText__u7TkO {
  font-size: 1rem;
  font-weight: 600;
  color: #0a0a0b;
  line-height: 105%;
  width: 6.25rem;
}
.productMainPage_productContainer__NsVfG .productMainPage_seriesFilterWrapper__A0Jm4 {
  position: absolute;
  right: 8rem;
  top: 100%;
  z-index: 1;
}
.productMainPage_productContainer__NsVfG .productMainPage_modelFilterWrapper__L3h4F {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
}
.productMainPage_productContainer__NsVfG .productMainPage_filterContainer__hfo39 {
  border: 1px solid #d5d4d4;
  padding: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.4375rem;
  background-color: #fff;
}
.productMainPage_productContainer__NsVfG .productMainPage_filterBtn__DvQBv {
  background-color: transparent;
  color: #0a0a0b;
  border: 1px solid #d5d4d4;
  border-radius: 0.375rem;
  padding: 0.5rem 3rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.productMainPage_productContainer__NsVfG .productMainPage_filterBtn__DvQBv:hover {
  background-color: #e7e7e7;
  color: #0a0a0b;
}
.productMainPage_productContainer__NsVfG .productMainPage_modelContainer__eFlfD {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_modelContainer__eFlfD {
    background-color: #f5f5f5;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_noModelsMessage__XpyYL {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.productMainPage_productContainer__NsVfG .productMainPage_noModelsMessage__XpyYL p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #0a0a0b;
  text-align: center;
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 7.5rem;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT {
    gap: 1rem;
    margin-top: 3.5rem;
    padding: 0 1.5rem;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_caraouselHeading__3J3Tz {
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_caraouselHeading__3J3Tz {
    font-size: 1.75rem;
    font-weight: 600;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_navButtons__9RlqD {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_navButtons__9RlqD {
    display: none;
  }
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_navButtons__9RlqD .productMainPage_arrowButton__qyiqI {
  padding: 0.75rem;
  border: 0.0625rem solid #01060a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_carouselHeader__FCkvs .productMainPage_navButtons__9RlqD .productMainPage_arrowButton__qyiqI.productMainPage_disabled__ZL1pB {
  opacity: 0.3;
  cursor: not-allowed;
}
.productMainPage_productContainer__NsVfG .productMainPage_sliderWrapper__JgscT .productMainPage_industryCarousel__J_wZV {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.2rem;
}

.productMainPage_industryProductContainer__xkaI0 {
  --product-page-variant: industry;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./node_modules/react-loading-skeleton/dist/skeleton.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: var(
    --custom-highlight-background,
    linear-gradient(
      90deg,
      var(--base-color) 0%,
      var(--highlight-color) 50%,
      var(--base-color) 100%
    )
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .react-loading-skeleton {
    --pseudo-element-display: none; /* Disable animation */
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./component/molecules/loading/productPageLoading.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productPageLoading_productContainer__AuWwl {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
  gap: 1rem;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS {
    padding: 1rem 1.25rem;
  }
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_productInfo__dnSdc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_productInfo__dnSdc .productPageLoading_productHeading__dAffe {
  border-radius: 8px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_productInfo__dnSdc .productPageLoading_productDescription__dkjQr {
  border-radius: 4px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_industryTags__d3JDq {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
@media (max-width: 768px) {
  .productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_industryTags__d3JDq {
    flex-wrap: wrap;
  }
}
.productPageLoading_productContainer__AuWwl .productPageLoading_productDetails__fbNDS .productPageLoading_industryTags__d3JDq .productPageLoading_eachIndustry__Dwvat {
  border-radius: 2.5rem;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0a0a0b;
  position: relative;
}
@media (max-width: 768px) {
  .productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj {
    display: none;
  }
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj .productPageLoading_headingSection__coFN2 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj .productPageLoading_headingSection__coFN2 .productPageLoading_headingText__CFOw2 {
  border-radius: 6px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj .productPageLoading_filterSeries__ItXdG {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainerHeading__baCRj .productPageLoading_filterSeries__ItXdG .productPageLoading_headingSelect__Zc8ci {
  border-radius: 6px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ .productPageLoading_modelCard__32fNK {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ .productPageLoading_modelCard__32fNK .productPageLoading_modelImage__yGF5E {
  border-radius: 8px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ .productPageLoading_modelCard__32fNK .productPageLoading_modelInfo__82Al3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ .productPageLoading_modelCard__32fNK .productPageLoading_modelInfo__82Al3 .productPageLoading_modelTitle__mm7ch {
  border-radius: 4px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_modelContainer__Meml_ .productPageLoading_modelCard__32fNK .productPageLoading_modelInfo__82Al3 .productPageLoading_modelDescription__O6gse {
  border-radius: 4px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV {
    gap: 1rem;
    padding: 0 1.5rem;
  }
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_carouselHeader__3nYnp {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_carouselHeader__3nYnp .productPageLoading_caraouselHeading__JynE7 {
  border-radius: 6px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_carouselHeader__3nYnp .productPageLoading_navButtons__N78re {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_carouselHeader__3nYnp .productPageLoading_navButtons__N78re {
    display: none;
  }
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_carouselHeader__3nYnp .productPageLoading_navButtons__N78re .productPageLoading_arrowButton__bFWn5 {
  border-radius: 6px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  overflow-x: auto;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_productCard__m1_lG,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_industryCard__FlqKc,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_productCard__m1_lG,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_industryCard__FlqKc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 200px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_productCard__m1_lG .productPageLoading_productImage__tY7ak,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_productCard__m1_lG .productPageLoading_industryImage__KyyjT,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_industryCard__FlqKc .productPageLoading_productImage__tY7ak,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_industryCard__FlqKc .productPageLoading_industryImage__KyyjT,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_productCard__m1_lG .productPageLoading_productImage__tY7ak,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_productCard__m1_lG .productPageLoading_industryImage__KyyjT,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_industryCard__FlqKc .productPageLoading_productImage__tY7ak,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_industryCard__FlqKc .productPageLoading_industryImage__KyyjT {
  border-radius: 8px;
}
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_productCard__m1_lG .productPageLoading_productTitle__Hiy1g,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_productCard__m1_lG .productPageLoading_industryTitle__ibVZg,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_industryCard__FlqKc .productPageLoading_productTitle__Hiy1g,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_productCarousel__ihkUA .productPageLoading_industryCard__FlqKc .productPageLoading_industryTitle__ibVZg,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_productCard__m1_lG .productPageLoading_productTitle__Hiy1g,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_productCard__m1_lG .productPageLoading_industryTitle__ibVZg,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_industryCard__FlqKc .productPageLoading_productTitle__Hiy1g,
.productPageLoading_productContainer__AuWwl .productPageLoading_sliderWrapper__quAPV .productPageLoading_industryCarousel__00fXO .productPageLoading_industryCard__FlqKc .productPageLoading_industryTitle__ibVZg {
  border-radius: 4px;
}
