@use "../../../styles/varriables" as *;

.productMenu {
  width: 100%;
  max-width: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 6.25rem;
  gap: 0.5rem 0.625rem;
  overflow-y: auto;

  .eachProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.125rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    .eachProductList {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      min-width: 0;
      .image {
        width: 4.75rem;
        height: 4rem;
        object-fit: contain;
        flex: 0 0 auto;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        font-stretch: 75%;
        font-variation-settings: "wdth" 75;
        line-height: 120%;
        color: $text-primary;
        white-space: nowrap;
      }
    }
    .dropdown {
      width: 1.5rem;
      height: 1.5rem;
      flex: 0 0 auto;
      transform: rotate(-90deg);
      transform-origin: center;
      transition: transform 0.3s ease;
    }
  }

  .active::before {
    display: none;
  }

  .emptyState {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
