@use "../../../styles/mixins" as *;
@use "../../../styles/varriables" as *;

.certificateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  height: auto;
  padding: 4.625rem $site-gutter-desktop;
  position: relative;
  background-color: #f5f5f5;
  @include sm-max {
    padding: 1.75rem 0 2rem;
  }
  .sectionCorner {
    position: absolute;
    right: 0;
    top: 0;
    @include sm-max {
      display: none;
    }
  }
  .certificateMarquee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .certificateMarqueeContent {
    height: auto;
    width: fit-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 13rem);
    justify-content: center;
    justify-items: center;
    gap: 1.25rem;

    @include lg-max {
      grid-template-columns: repeat(3, 13rem);
    }

    @include sm-max {
      align-items: center;
      grid-template-columns: minmax(0, 1fr);
      width: 100%;
      gap: 0.5rem;
      padding: 0 1rem;
    }
  }

  .cardWrapper {
    width: min(13rem, 100%);
    display: flex;
    justify-content: center;
  }
  .mainHeading {
    font-size: 3rem;
    font-weight: 800;
    line-height: 105%;
    text-align: center;
    margin-bottom: 3rem;
    @include sm-max {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
  }
}
